# Put this in /lib/systemd/system
# Then
# sudo chmod 644 <filename>
# sudo systemctl daemon-reload
# sudo systemctl enable cah

[Unit]
Description=Cards Against Humanity Slackbot
After=multi-user.target

[Service]
User=bobrock
Group=bobrock
Type=idle
ExecStart=/home/bobrock/venvs/cah/bin/python3 /home/bobrock/extras/cah_bot/run.py -lvl debug
WorkingDirectory=/home/bobrock/extras/cah_bot
Restart=on-failure

[Install]
WantedBy=multi-user.target
